doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./src/css/reset.css")
        link(rel="stylesheet", href="./src/css/pages/calculator.css")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Rubik:wght@400;500&display=swap", rel="stylesheet")
        
        title calculadora
    body
        main.main 
            block main
        script(src="./src/js/color.js")
        script(src="./src/js/main.js")