@use "../vars/colors" as color-var;
.main{
    background-color:  var(--color-background);
    color: gray;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;

    padding-block: 30px;
}