@forward "../vars/colors";
@forward "../templates/layout";
.content__calculator{
    background-color: rgb(12, 0, 83);
    width: 320px;
    // max-width: 543px; 320
    height: 700px;
    // max-height: 715px;
    
    display: flex;
    flex-direction: column;
}