// primeras
// --color-background : #3B4664;
// --color-background-btn:#252D44;
// --color-background-header: #181F32;
// --color-text: #FEFFFE;
// --color-text-btn: #464B5C ;
// --color-text-btn-reset-del:#FEFEFF;
// --color-text-btn-result:#FEFEFF;
// --color-btn-reset-del: #647299;
// --color-btn-result: #D13F30;
// --color-btn: #EAE3DB;
// --color-input-color: #D13F30;
// --color-shadow1: #B4A599;
// --color-shadow2: #414E71;
// --color-shadow3: #8F2316;


// segundo 

// --color-background : #E6E6E6;
// --color-background-btn:#D3CDCD;
// --color-background-header: #EEEEEE;

// --color-text: #3B3B33;
// --color-text-btn: #37372E ;
// --color-text-btn-reset-del:#F9FFFF;
// --color-text-btn-result:#F9FFFF;
// --color-btn-reset-del: #388186;
// --color-btn-result: #C85401;
// --color-btn: #E5E4E0;
// --color-input-color: #C85500;
// --color-shadow1: #A69C92;
// --color-shadow2: #1D5C65;
// --color-shadow3: #863700;


// #E6E6E6 fondo
// #EEEEEE fondo pantalla 
// #333229 text y tex botones
// #D3CDCD fondo botoens
// #E5E4E0 botones 
// #388186 del y reset 
// #C85401 resultado

// tercero 

// --color-background : #17062A;
// --color-background-btn:#1E0837;
// --color-background-header: #1E0836;
// --color-text: #FFE534;
// --color-text-btn: #FBE333 ;
// --color-text-btn-reset-del:#FEFEFF;
// --color-text-btn-result:#062D30;
// --color-btn-reset-del: #56077C;
// --color-btn-result: #00DECF;
// --color-btn: #331B4D;
// --color-input-color: #0DE3DA;
// --color-shadow1: #86209D;
// --color-shadow2: #BF15F4;
// --color-shadow3: #6DF7EF;

// #17062A fondo
// #1E0836 fondo de pantalla 
// #1E0836 fondo botones 
// #331B4D botones
// #FFE538 text 
// #FFE538 tex botones
// #00DECF  resultado
// #56077C del reset
:root{
    --color-background : #3B4664;
    --color-background-btn:#252D44;
    --color-background-header: #181F32;
    --color-text: #FEFFFE;
    --color-text-btn: #464B5C ;
    --color-text-btn-reset-del:#FEFEFF;
    --color-text-btn-result:#FEFEFF;
    --color-btn-reset-del: #647299;
    --color-btn-result: #D13F30;
    --color-btn: #EAE3DB;
    --color-input-color: #D13F30;
    --color-shadow1: #B4A599;
    --color-shadow2: #414E71;
    --color-shadow3: #8F2316;
}
