mixin header-content()
    header.header
        a(href="https://github.com/jeferssonvm/calculadora" target="self").header__title  calc 
        div.header__edit-color
            h2.edit-color_subtitle THEME
            form.edit-color__form(action="#")
                input.edit-color__select.edit-color__select--first(type="radio" name="select-color" value="firt-color" checked = true)
                input.edit-color__select.edit-color__select--second(type="radio" name="select-color" value="second-color")
                input.edit-color__select.edit-color__select--third(type="radio" name="select-color" value="third-color")



