mixin keyboard()
    div.keyboard__content
        button.keyboard__buttons.cero(type="button" value="0") 0 
        button.keyboard__buttons.one(type="button" value="1") 1
        button.keyboard__buttons(type="button" value="2") 2
        button.keyboard__buttons(type="button" value="3") 3
        button.keyboard__buttons(type="button" value="4") 4
        button.keyboard__buttons(type="button" value="5") 5
        button.keyboard__buttons(type="button" value="6") 6
        button.keyboard__buttons(type="button" value="7") 7
        button.keyboard__buttons(type="button" value="8") 8
        button.keyboard__buttons(type="button" value="9") 9
        button.keyboard__buttons(type="button" value="Comma") .
        button.keyboard__buttons(type="button" value="more") +
        button.keyboard__buttons(type="button" value="less") -
        button.keyboard__buttons(type="button" value="division") /
        button.keyboard__buttons(type="button" value="multiplication") *
        button.keyboard__buttons(type="button" value="reset") RESET 
        button.keyboard__buttons(type="button" value="del") DEL
        button.keyboard__buttons(type="button" value="result") = 
        